:root {
  --black: #252525;
  --pink: #e261aa;
  --blue: #298ee9;
  --yellow: #f8e415;
  --cyan: #80e5b4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  overflow-x: hidden;
  background-color: var(--black);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#stage {
  transition: transform 0.8s;
}

#exit_button {
  align-self: flex-start;
  margin-left: 4vw;
  color: var(--yellow);
  padding: 0.8vw;
  font-size: 16px;
  position: absolute;
  background-color: var(--blue);
  cursor: pointer;
}

header {
  margin-top: 7vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

header img:first-child {
  width: clamp(80px, 4.5vw, 110px);
  height: clamp(35px, 3.5vw, 75px);
  position: absolute;
  left: 50px;
}

header img:last-child {
  width: clamp(125px, 6.9vw, 175px);
  height: clamp(75px, 4.5vw, 100px);
  position: absolute;
  right: 70px;
}

header h1 {
  font-size: clamp(45px, 3vw, 75px);
  color: var(--pink);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

main #volumeContent {
  position: absolute;
  top: 19vh;
  display: flex;
  align-items: center;
  z-index: 50;
}

main #volumeContent h4 {
  color: var(--pink);
}

main #volumeContent #volume {
  -webkit-appearance: none;
  background: var(--black);
  width: 200px;
  height: 15px;
  border: 3px solid var(--pink);
}

main #volumeContent #volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--pink);
  border: 2px solid #ffdaef;
}

main #volumeContent #volume::-moz-range-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--pink);
  border: 2px solid #ffdaef;
}

main section {
  margin-top: 10vh;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stage {
  cursor: pointer;
}

.stage > img {
  height: clamp(110px, calc(8vw - 3px), 262px);
  width: clamp(100px, calc(6vw- 5px), 242px);
}

main section .stage {
  margin: 3vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section .stage h2 {
  position: absolute;
  font-size: clamp(25px, 2vw, 50px);
  color: var(--yellow);
}

main > img#help {
  position: absolute;
  width: clamp(82px, 4.5vw, 112px);
  height: clamp(82px, 4.5vw, 112px);
  right: 70px;
  bottom: 70px;
}

/* Tutorial */
.tutorialsect {
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -150vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.8s;
  background-color: #252525;
}

.elemVisible {
  transform: translate(-150vw);
  position: absolute;
}

.mainHidden {
  transform: translate(-150vw);
  position: absolute;
}

.tutorialsect #header {
  width: 100%;
  height: 100px;
  font-size: 48px;
  color: var(--pink);
  display: flex;
  align-items: center;
  justify-content: center;
}

#tutorialimgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tutorialimgs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.tutoimg {
  width: 14vw;
  height: auto;
}

.tutoarrow {
  color: var(--pink);
  font-size: 1.6rem;
}
.closebtn {
  position: absolute;
  left: 8vw;
  top: 10vh;
  cursor: pointer;
}

#help,
#crown-ranking {
  cursor: pointer;
}

/*MODAL ranking*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #252525;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 95vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: aliceblue;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  height: 5vh;

  padding: 2px 16px;
  background-color: #ece93a;
  color: rgb(0, 0, 0);
  text-shadow: #ffffff 0px 0px 10px;
  text-align: center;
}

.modal-body {
  height: 50vh;
  text-align: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  display: flex;
}

.modal-body img {
  width: 15%;
  height: 40%;
}

.modal-footer {
  height: 5vh;
  padding: 2px 16px;
  background-color: #ece93a;
  color: rgb(0, 0, 0);
  text-shadow: #ffffff 0px 0px 10px;
  text-align: center;
}

button {
  background-color: var(--green);
  color: rgb(209, 190, 19);

  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

th,
td {
  padding: 1vh;
  text-shadow: #000000 0px 1px 15px;
}

th {
  color: #f8e415;
}
