:root {
  --black: #252525;
  --pink: #e261aa;
  --blue: #298ee9;
  --yellow: #f8e415;
  --cyan: #80e5b4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: var(--black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header #leftHeader {
  display: flex;
  align-items: center;
}

header #rightHeader {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

header #rightHeader h4 {
  color: var(--pink);
}

header #rightHeader #volume {
  -webkit-appearance: none;
  background: var(--black);
  width: 200px;
  height: 15px;
  border: 3px solid var(--pink);
}

header #rightHeader #volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--pink);
  border: 2px solid #ffdaef;
}

header #rightHeader #volume::-moz-range-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: var(--pink);
  border: 2px solid #ffdaef;
}

header h1 {
  font-size: 36px;
}

#back{
  cursor: pointer;
}

header #backArrowDiv {
  margin: 0 50px;
}

header #gameLogo {
  display: flex;
  flex-direction: column;
}

header #gameLogo .yellowSquare {
  width: 55px;
  height: 55px;
  border: 2px solid var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

header #gameLogo .title {
  display: flex;
  align-items: center;
}

header #gameLogo #logoLine1 {
  color: var(--pink);
}

header #gameLogo #logoLine2 {
  color: var(--blue);
}

header #stageInfos {
  margin-left: 30vw;
}

main {
  width: 100vw;
  display: flex;
}

main #pieces {
  margin-left: 7vw;
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  border: 5px solid var(--pink);
}

main #pieces #piecesHeader {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pink);
}

#piecesContent {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

#piecesContent > div {
  display: flex;
}

main section {
  width: 50vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 7vh;
}

main section #stageHeader {
  /* position: absolute;
  top: 0;
  margin-top: 2vh; */
  text-align: center;
  color: white;
}

.stage {
  display: flex;
  justify-content: center;
  align-self: center;
}
.stage-valid {
  width: 50px;
  height: 50px;
  background-color: var(--black);
  border: 1px solid var(--blue);
  box-sizing: border-box;
}

.stage-invalid {
  width: 50px;
  height: 50px;
  background-color: rgb(66, 66, 66);
}

.piece {
  margin: 10px;
  width: fit-content;
  height: fit-content;
  box-shadow: none;
}

.piece-color {
  width: 50px;
  height: 50px;
  background-color: var(--pink);
  border: 2px solid #ffdaef;
  box-sizing: border-box;
}

.piece-empty {
  width: 50px;
  height: 50px;
}

.piece-rotate {
  transition: 0ms;
}

/* /=======================================================================================/ */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 50; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #252525;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: aliceblue;
  text-align: center;
}

#header-reset{
  height: auto;
}

#footer-reset{
  height: auto;
}

#trophy{
  margin-top: 2.5vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.modal-header {
  height: 5vh;
  padding: 2px 16px;
  background-color: #2e812e;
  color: rgb(233, 222, 125);
  text-shadow: #252525 0px 0px 10px;
  position: relative;
}

.close {
  position: absolute;
  right: 15px;
  margin-top: 15px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  height: 30vh;
  padding: 2px 16px;
}

.modal-body img {
  width: 15%;
  height: 40%;
}

.modal-footer {
  height: 5vh;
  padding: 2px 16px;
  background-color: #2e812e;
  color: rgb(233, 222, 125);
  text-shadow: #252525 0px 0px 10px;
}

button {
  background-color: var(--green);
  color: white;

  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
