@media (max-width: 940px) {
  main aside {
    font-size: 24px;
  }

  .yellowSquare,
  .pinkSquare {
    width: 40px;
    height: 40px;
  }

  .inviSquare {
    width: 54px;
    height: 54px;
  }

  .yellowText,
  .cyanText,
  .blueText,
  .pinkText {
    font-size: 40px;
  }

  .whiteText {
    font-size: 35px;
    margin-left: 20px;
  }

  img {
    width: 50px;
    height: auto;
  }

  #innerP {
    margin: 0;
  }

  #innerIcon {
    margin: 5px 0 0 0;
  }

  main section #header {
    font-size: 28px;
  }

  main section #registercontent {
    width: 600px;
    height: 300px;
  }

  main section #registercontent .inputs {
    margin: 35px 0 0 0;
  }

  main section #registercontent .inputs input {
    width: 400px;
    font-size: 16px;
  }

  main section #registercontent .inputs h3 {
    font-size: 18px;
  }

  main section #registercontent #contentButton {
    margin-top: 35px;
  }

  main section #registercontent #contentButton button {
    padding: 18px;
    font-size: 16px;
  }
}
